---
apiVersion: v1
kind: Namespace
metadata:
  name: acm-demo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: load-balancer-config
  namespace: acm-demo
data:
  load-balancer.conf: |
    <Proxy "balancer://mycluster">
    </Proxy>
    ProxyPass        "/" "balancer://mycluster"
    ProxyPassReverse "/" "balancer://mycluster"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: load-balancer
  name: load-balancer
  namespace: acm-demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: load-balancer
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: load-balancer
    spec:
      containers:
      - image: registry.redhat.io/rhel8/httpd-24:latest
        imagePullPolicy: IfNotPresent
        name: httpd
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        volumeMounts:
        - name: load-balancer-config
          mountPath: /etc/httpd/conf.d/load-balancer.conf
          subPath: load-balancer.conf
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      volumes:
      - name: load-balancer-config
        configMap:
          name: load-balancer-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
    triggers:
    - type: ConfigChange
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: load-balancer
  name: load-balancer
  namespace: acm-demo
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: load-balancer
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: load-balancer
  name: load-balancer
  namespace: acm-demo
spec:
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: load-balancer
    weight: 100
  wildcardPolicy: None
