- apiVersion: v1
  kind: Namespace
  metadata:
    name: acm-demo
    
- apiVersion: v1
  kind: Secret
  metadata:
    name: tower-secret
    namespace: acm-demo
    type: Opaque
  stringData:
    token: {{ tower_token }}
    host: {{ tower_server }}
